<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pavi.aaw.mapper.TestMapper">

    <insert id="insert">
        INSERT INTO TBL_TEST_INFO(ID) VALUES(1)
    </insert>

</mapper>